[Unit]
Description=udhcpd server 
After=network.target lighttpd.service  com.cisco.spvtg.ccsp.PNM.service

[Service]
ExecStart=/usr/bin/startudhcpd.sh eth1  
Type=forking

[Install]
WantedBy=multi-user.target


