[Unit]
Description=udhcpd server 
Requires= network-online.target network-setup.service
After= network.target lighttpd.service network-setup.service

[Service]
ExecStart=/usr/sbin/udhcpd /etc/udhcpd.conf  
Type=forking

[Install]
WantedBy=multi-user.target
